* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.how-to-use{
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  font-family: "Roboto", sans-serif;
  
}



main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .buttons{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons > .button {
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  color: #000000;
}

.review{
  background-color: orange;
}

.fix{
  background-color: green;
}

main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}